<h2 class="title">Registration</h2>

<p>To register you need to be in receipt of any Government <br /><span>benefits:</span><br /> 

<ul>
	<li>JSA</li>
	<li>ESA</li>
	<li>Universal Credit</li>
	<li>Family Tax</li>
	<li>Tax Credits</li>
	<li>Child Tax Credits</li>
	<li>Housing Benefit</li>
	<li>DLA</li>
</ul>

<p>You need prove of benefit, plus 2 latest bills to register.
Registration is renewable every 3 months.</p>
 